extend ../_layout

prepend html
  - custom.title = 'Home'
  - custom.body_cls = 'body--home'

block main
  section.home
    h2 Home
    img(src!="static/svg/tiger.svg")

block scripts
  +requireTag('site.home')
