@css {

  @font-face {
    font-family: 'gotham_ultraregular';
    src: url('../fonts/gotham-ultra_0-webfont.eot');
    src: url('../fonts/gotham-ultra_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-ultra_0-webfont.woff') format('woff'),
         url('../fonts/gotham-ultra_0-webfont.ttf') format('truetype'),
         url('../fonts/gotham-ultra_0-webfont.svg#gotham_ultraregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

}
