.sp-icon-grunt,.sp-icon-like{background-image:url("../sprites/icon.png");background-repeat:no-repeat}.sp-icon-grunt{background-position:-10px -10px;width:31px;height:41px}.sp-icon-like{background-position:-61px -10px;width:16px;height:16px}@media screen and (-webkit-min-device-pixel-ratio:1),screen and (min--moz-device-pixel-ratio:1),screen and (-o-min-device-pixel-ratio:100/100),screen and (min-device-pixel-ratio:1),screen and (min-resolution:1dppx){.sp-icon-grunt,.sp-icon-like{background-image:url("../sprites/icon.png");-webkit-background-size:87px 61px;-moz-background-size:87px 61px;background-size:87px 61px}}