.sp-shape-logo{background-image:url("../sprites/shape.png");background-repeat:no-repeat}.sp-shape-logo{background-position:-10px -10px;width:560px;height:80px}@media screen and (-webkit-min-device-pixel-ratio:1),screen and (min--moz-device-pixel-ratio:1),screen and (-o-min-device-pixel-ratio:100/100),screen and (min-device-pixel-ratio:1),screen and (min-resolution:1dppx){.sp-shape-logo{background-image:url("../sprites/shape.png");-webkit-background-size:580px 100px;-moz-background-size:580px 100px;background-size:580px 100px}}