extends _layout

block main
  .ForgotPassword
    h2.ForgotPassword-title Ingresa tu correo 
    form.ForgotPassword-form(
      method="post",
      action!="{% url 'forgot_password' %}",
      data-tracking-category = "",
      data-tracking-action = "",
      data-tracking-label = "",
      data-custom-form = "false")
      {% csrf_token %}
      - config_email = {};
      - config_email.name = "email"
      - config_email.label = "Email"
      +input_email(config_email)


      - config_captcha = {};
      - config_captcha.name = "captcha"
      - config_captcha.label = " Ingresa los caracteres que ves en la imagen"
      - config_captcha.image = "{{ new_cptch_image }}"
      - config_captcha.input_hidden_val = "{{ new_cptch_key }}"
      - config_captcha.input_hidden = "captcha_0"
      - config_captcha.input = "captcha_1"
      +captcha(config_captcha)
      
    
      button(type="submit") Recuperar

block scripts
  +requireTag('site.user.forgot-password')