extend _layout

prepend html
  - custom.title = 'Resetear contraseña'
  - custom.body_cls = 'body--resetPassword'

block main
  .ResetPassword
    h2.ResetPassword-title Reiniciar contraseña
    form.Register-form(
      method="post",
      action!="{% url 'forgot_password' %}",
      data-tracking-category = "",
      data-tracking-action = "",
      data-tracking-label = "",
      data-custom-form = "false")
      {% csrf_token %}

      - config_password = {};
      - config_password.name = "password"
      - config_password.label = "Contraseña"
      - config_password.minLength = 2
      - config_password.referenceConfirm = '#confirm_password'
      +input_password(config_password)

      - config_confirm_password = {};
      - config_confirm_password.name = "confirm_password"
      - config_confirm_password.label = "Confirmar contraseña"
      - config_confirm_password.minLength = 2
      +input_password(config_confirm_password)

      button(type="submit") Cambiar contraseña

block scripts
  +requireTag('site.user.reset-password')
